<div class="container tn_top_bottom_spacer">

<h3 align="center">Welcome to <%= @trade.username %>'s page</h3>


<div class="row">
  <div class="col-md-12">
    <figure class="image is-128x128">
      <%= image_tag avatar_url(current_trade), class:"is-rounded" %>
    </figure>
  </div>
</div>
<br />
<h4 align="center"><%= @trade.username %>'s listings</h4>


</div>
