
<footer class="footer">
      <small>
          Copyright &copy; <a href ="https://www.servizio.com">The Team Always With You</a>
          Part of the Serve & Protect Group.
      </small>
          <nav>
            <ul>
              <li><%= link_to "About", about_path %></li>
            </ul>
          </nav>
</footer>

<br>
<p>
  <p>
